<div class="modal">
    <h1>Retrieving new build</h1>
    <h2>
       Please keep the app open. Closing or suspending the app will
       interrupt the update process.
    </h2>
    <div id="download">
        <div class="progress-container">
            <div class="indicator"></div>
        </div>
    </div>
    <!--
    <div class="options">
        <div class="button">
            <div class="title">
               Cancel update
            </div>
            <div class="explanation">
                Ask again on next launch
            </div>
        </div>
    </div>
    -->
</div>
