<link rel="stylesheet" href="../css/app.css" />

<div class="modal">
    <h1>Whoops, looks like an error occured.</h1>
    <h2>
    </h2>
    <p class="error">
 		
    </p>
    <div class="options">
        <div class="button" id="retry">
            <div class="title">
                Retry
            </div>
            <div class="explanation">
            </div>
        </div>
        <div class="button" id="back">
            <div class="title">
                Go back
            </div>
            <div class="explanation">
                Go back to the existing application
            </div>
        </div>
    </div>
</div>
