<div class="modal">
    <h1>Hydra has detected a new update!</h1>
    <h2>
        A new version of this application is available from build.phonegap.com
    </h2>
    <div class="options">
        <div class="button" id="downloadNow">
            <div class="title">
                Update &amp; restart now
            </div>
            <div class="explanation">
                Download and run the new build
            </div>
        </div>
        <div class="button" id="dontDownload">
            <div class="title">
                Ignore for now
            </div>
            <div class="explanation">
                Ask again on next launch
            </div>
        </div>
    </div>
</div>
